In [31]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 -1]
d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [7]:
print([len(i) for i in l1])

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [10]:
print(len([i for i in l1 if len(i)>2]))

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [12]:
print( sum([i[0]*i[1] for i in d4.items()]) )

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [14]:
d7={key:value for (key,value) in d6.items() if key not in d5}
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку

In [21]:
print([i*l2.index(i) if str(i).isdigit() else i for i in l2])

[0, 4, -2, -3, 0, 55, 0]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [22]:
print([i for i in l2 if i>=0])

[2, 4, 0, 11, 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [36]:
print([i if i >= 0 else l2.index(i) for i in l2])

[2, 4, 2, 3, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [38]:
def multiplication_1(a,b):
    """функция multiplication_1 вернет произведение двух чисел"""
    return a*b